<p><b>Quiz App</b></p>
<p *ngIf="submitValid" style="color: #ea6153;">Please fill out all details accurately.</p>
<ion-list no-lines>

  <form [formGroup]="quizInputForm">

    <ion-item (click)="presentActionSheet()">
      <ion-label floating># of Questions </ion-label>
      <ion-select>
        <ion-option>Category 1</ion-option>
      </ion-select>
    </ion-item>

    <ion-item (click)="presentActionSheet()">
      <ion-label floating >Category</ion-label>
      <ion-select>
        <ion-option>Category 1</ion-option>
      </ion-select>
    </ion-item>

    <ion-item (click)="presentActionSheet()">
      <ion-label floating>Difficulty</ion-label>
      <ion-select>
        <ion-option>Category 1</ion-option>
      </ion-select>
    </ion-item>

    <ion-item (click)="presentActionSheet()">
      <ion-label floating>Type</ion-label>
      <ion-select>
        <ion-option>Category 1</ion-option>
      </ion-select>
    </ion-item>

    <ion-item (click)="presentActionSheet()">
      <ion-label floating>Encoding</ion-label>
      <ion-select>
        <ion-option>Category 1</ion-option>
      </ion-select>
    </ion-item>

  </form>

</ion-list>
