<script src="../../pages/home/home.ts"></script>
<p><b>Quiz App</b></p>
<p *ngIf="submitValid" style="color: #ea6153;">Please fill out all details accurately.</p>

<form [formGroup]="quizInputForm" (ngSubmit)="onSubmit(quizInputForm.value)">

  <ion-item>
    <ion-label floating># of Questions </ion-label>
    <ion-select ngModel="quiz.questionLimit" formControlName="questionLimit" name="questionLimit">
      <ion-option *ngFor="let num of questionNumbers">{{num}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label floating >Category</ion-label>
    <ion-select formControlName="category" name="category">
      <ion-option *ngFor="let category of categoryList">{{category}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label floating>Difficulty</ion-label>
    <ion-select formControlName="difficulty" name="difficulty">
      <ion-option *ngFor="let difficulty of difficultyList">{{difficulty}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label floating>Type</ion-label>
    <ion-select formControlName="type" name="type">
      <ion-option *ngFor="let type of typeList">{{type}}</ion-option>
    </ion-select>
  </ion-item>

  <br>

  <ion-buttons style="display: inline-block">
    <button ion-button type="submit" (click)="onSubmit()">Submit</button>
  </ion-buttons>

</form>
